/*-------TABLA----*/

body {
    font-family: "arial";
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: azure;

  }

.contenedorTabla {
    position: relative; /*Contendor preferente/padre*/
    background: #285fce;
     /*border-radius: 7px;*/
    width: 450px;
    height: 450px;
    top: 130px;
    
}


/*
Para llamar elementos por su id utilizo el #
Cojo las imágenes de las filas de la tabla

display: disposición dentro del contenedor 
display: block -> el elemento ocupa toda la línea horizontal, empujando hacía abajo el resto (<div>, <p>, <h1>)
display: inline -> el elemento fluye dentro del texto 
display: inline-block -> inline respecto a otros elementos, pero se define ancho y alto como en block 
*/
#Tabla td img {

  width: 145.7px;
  height: 145.7px;
  /*border-radius: 7px;*/
  display: block;
  
}


/*-------------BOTONES------------*/

/*
  border: none; -> 
  border-radius: 8px; -> 
*/
.contenedorTabla .botones .btnInicio{
  position: absolute;
  background-color: #1e40af;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  top: -30px;
}

.contenedorTabla .botones .btnInicio:hover{ /*Cuando pase por encima el cursor*/
  background-color: #3b82f6;
}