/*-------TABLA----*/

body {
    font-family: "arial";
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: azure;

  }

.contenedorTabla {
    position: relative; /*Contendor preferente/padre*/
    background: #285fce;
     /*border-radius: 7px;*/
    width: 463px;
    height: 463px;
    top: 200px;
    
}


/*
Para llamar elementos por su id utilizo el #
Cojo las imágenes de las filas de la tabla

display: disposición dentro del contenedor 
display: block -> el elemento ocupa toda la línea horizontal, empujando hacía abajo el resto (<div>, <p>, <h1>)
display: inline -> el elemento fluye dentro del texto 
display: inline-block -> inline respecto a otros elementos, pero se define ancho y alto como en block 
*/
#Tabla td img {

  width: 150px;
  height: 150px;
  /*border-radius: 7px;*/
  display: block;
  
}